#notice {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (prefers-color-scheme: dark) {
  .tcl-logo {
    filter: brightness(165%) hue-rotate(198deg) invert(100%) opacity(83%);
  }
}